<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>FuturePath | Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/quiz-home.css}" />
</head>
<body>
	<nav th:replace="~{sidebar :: sidebar}"></nav>
	<main>
		<nav th:replace="~{header :: header}"></nav>
		<hr>
		<nav class="sub-header">
			QUIZ
		</nav>
		<hr>
		<div class="content">
			<form th:action="@{/quiz}" method="POST">
				<label>Which one would you take the quiz for?</label>
				
				<div class="message">
					Take this short quiz to discover which <strong>college degree</strong> or <strong>senior high strand</strong> 
					matches your strengths, interests, and goals.  
					<br><br>
					Whether you're aiming for a tech career, creative arts, or something else — 
					let’s find out which path is right for you! 🌟
				</div>
				
				<button type="submit" name="degree" value="college">FOR COLLEGE</button>
				<button type="submit" name="degree" value="strand">FOR SENIOR HIGH SCHOOL</button>
			</form>
		</div>
	</main>
</body>
</html>