<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FuturePath | University</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/common.css}" />
</head>
<body>
	<nav th:replace="~{sidebar :: sidebar}"></nav>
	<main>
		<th:block th:if="${isSuccess}">
		    <div th:replace="~{alert :: success}"></div>
		</th:block>
		<th:block th:if="${isError}">
		    <div th:replace="~{alert :: error}"></div>
		</th:block>
		<nav th:replace="~{header :: header}"></nav>
		<hr>
		<nav class="sub-header">
			QUESTIONS
		</nav>
		<hr>	
		<div class="content">
		
		  <!-- Overview Section -->
		  <div class="overview">
			  <h2 class="title">QUESTIONS OVERVIEW</h2>
			  <span class="subtitle">A quick summary of all questions from strand and degree</span>
								  
			  <div class="stats">
			    <div class="stat-card">
			      <div class="icon total">
			        <i class="fas fa-list-alt"></i> <!-- total questions -->
			      </div>
			      <p class="label">TOTAL QUESTIONS</p>
			      <p class="value" th:text="${questionDto.overview.totalQuestions}">0</p>
			    </div>
			    
			    <div class="stat-card">
			      <div class="icon degree">
			        <i class="fas fa-university"></i> <!-- degree -->
			      </div>
			      <p class="label">DEGREE</p>
			      <p class="value" th:text="${questionDto.overview.totalDegreeQuestions}">0</p>
			    </div>
			    
			    <div class="stat-card">
			      <div class="icon strand">
			        <i class="fas fa-project-diagram"></i> <!-- strand -->
			      </div>
			      <p class="label">STRAND</p>
			      <p class="value" th:text="${questionDto.overview.totalStrandQuestions}">0</p>
			    </div>
			    
			    <div class="stat-card">
			      <div class="icon active">
			        <i class="fas fa-check-circle"></i> <!-- active -->
			      </div>
			      <p class="label">ACTIVE</p>
			      <p class="value" th:text="${questionDto.overview.totalActiveQuestions}">0</p>
			    </div>
			    
			    <div class="stat-card">
			      <div class="icon inactive">
			        <i class="fas fa-times-circle"></i> <!-- inactive -->
			      </div>
			      <p class="label">INACTIVE</p>
			      <p class="value" th:text="${questionDto.overview.totalInactiveQuestions}">0</p>
			    </div>
			  </div>
			</div>
			
			<div class="data-table-group">
			  <div class="data-table-view">
			    <h3 class="title" style="margin: 0;">STRAND</h3>
			    <table>
			      <thead>
			        <tr>
			          <th scope="col">CODE</th>
			          <th scope="col">STRAND</th>
			          <th scope="col">TOTAL QUESTIONS</th>
			        </tr>
			      </thead>
			      <tbody th:if="${strandegreeDto != null and strandegreeDto.strandegreesQuestions != null}">
			        <tr th:each="strandegree, iterStat : ${strandegreeDto.strandegreesQuestions}"
			            th:if="${strandegree.category == 'STRAND'}">
			          <td th:text="${strandegree.code}"></td>
			          <td th:text="${strandegree.name}">AWAW</td>
			          <td th:text="${strandegree.totalQuestions}"></td>
			        </tr>
			      </tbody>
			    </table>
			  </div>
			
			  <div class="data-table-view">
			    <h3 class="title" style="margin: 0;">DEGREE</h3>
			    <table>
			      <thead>
			        <tr>
			          <th scope="col">CODE</th>
			          <th scope="col">DEGREE</th>
			          <th scope="col">TOTAL QUESTIONS</th>
			        </tr>
			      </thead>
			      <tbody th:if="${strandegreeDto != null and strandegreeDto.strandegreesQuestions != null}">
			        <tr th:each="strandegree, iterStat : ${strandegreeDto.strandegreesQuestions}"
			            th:if="${strandegree.category == 'DEGREE'}">
			          <td th:text="${strandegree.code}"></td>
			          <td th:text="${strandegree.name}"></td>
			          <td th:text="${strandegree.totalQuestions}"></td>
			        </tr>
			      </tbody>
			    </table>
			  </div>
			</div>

			


			  <div class="data-section">
			  <!-- Top Controls -->
			  <div class="data-controls">
			    <a class="btn btn-primary transitioning" th:href="@{/admin/questions/add}">
			      <i class="fa-solid fa-circle-plus"></i> ADD QUESTION
			    </a>
			
			    <div class="actions">
			      <button class="btn btn-icon"><i class="fa-solid fa-filter"></i></button>
			      <div class="search-box">
			        <i class="fa-solid fa-magnifying-glass"></i>
			        <input type="text" placeholder="SEARCH QUESTION..." class="search"/>
			      </div>
			    </div>
			  </div>
			
			  <!-- Table -->
			  <div class="data-table">
			    <table>
			      <thead>
			        <tr>
			          <th scope="col">ID</th>
			          	<th scope="col">CATEGORY</th>	
					    <th scope="col">QUESTION</th>			    	
					    <th scope="col">CODE</th>		    
					    <th scope="col">CREATED DATE</th>
					    <th scope="col">STATUS</th>
					    <th scope="col">ACTION</th>
			        </tr>
			      </thead>
			      <tbody id="table-body">
			        <tr>
			          <td>1</td>
								<td>What is the chemical symbol for Sodium?</td>
								<td><span class="type-label private">STRAND</span></td>
								<td><span class="type-label private">STEM</span></td>
								<td>09/29/2025</td>
								<td><span class="status-label active">ACTIVE</span></td>
								<td>
									<div>
										<button class="btn btn-icon edit"><i class="fa-solid fa-pen-to-square"></i></button>
			            				<button class="btn btn-icon delete"><i class="fa-solid fa-trash"></i></button>
									</div>
								</td>
			        </tr>
			      </tbody>
			    </table>
			  </div>
			
			  <!-- Pagination -->
			  <div class="pagination">
			    <button class="prev-btn"><i class="fa-solid fa-angle-left"></i> PREV</button>
			    <button class="btn-page active">1</button>
			    <button class="btn-page">2</button>
			    <button class="btn-page">3</button>
			    <button class="btn-page">4</button>
			    <button class="btn-page">5</button>
			    <span>..</span>
			    <input type="text" placeholder="Go to" class="input-page"/>
			    <button class="next-btn">NEXT <i class="fa-solid fa-angle-right"></i></button>
			  </div>
			</div>
		</div>
		<nav class="footer">
			<div>
				<span>All rights reserved by FuturePath</span>
			</div>
			<div class="terms">
				<span>Terms of Use</span>
				<span>Privacy Policy</span>
				<span>Contact us</span>
			</div>
		</nav>
	</main>
	<script th:src="@{/script/loading.js}"></script>
	<script th:src="@{/script/pagination.js}"></script>
	<script th:src="@{/script/question-api.js}"></script>
</body>
</html>