<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>FuturePath | Assessment</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/assessment.css}" />
</head>
<body>
	<nav th:replace="~{sidebar :: sidebar}"></nav>
	<main>
		<nav th:replace="~{header :: header}"></nav>
		<hr>
		<nav class="sub-header">
			ASSESSMENT
			<div class="btn-group">
				<button>CANCEL</button>
			</div>
		</nav>
		<hr>
		<div class="content">
			<form th:action="@{/assessment}" method="POST" th:object="${assessmentDto}" class="assessment-form">
    <input type="hidden" name="mode" th:value="${mode}" />

    <!-- Questions -->
    <div class="question-card" th:each="question, iterStat : ${questionDto.questions}">
        <div class="message">
            <strong th:text="${iterStat.index + 1} + '. ' + ${question.question}">1. Sample question text</strong><br>
            <span>Select the most appropriate answer.</span>
        </div>

        <div class="choices">
            <button type="submit" name="q1" value="math" th:each="answer : ${question.answers}" th:text="${answer.answer}">Mathematics</button>
        </div>
    </div>
</form>
	
		</div>
	</main>
	<script th:inline="javascript">
		console.log(/*[[${questionDto}]]*/'')
	</script>
</body>
</html>
