<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FuturePath | User</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/user-add.css}" />
</head>
<body>
	<nav th:replace="~{sidebar :: sidebar}"></nav>
	<main>
		<nav th:replace="~{header :: header}"></nav>
		<hr>
		<nav class="sub-header">
			USERS > ADD
		</nav>
		<hr>
		<div class="content">
			<form>
				<!-- First & Last Name -->
				<div class="field-group">
					<div class="field">
					    <label>FIRST NAME</label>  
					    <div class="input-wrapper">
					      <i class="fas fa-user"></i>
					      <input type="text" placeholder="Enter first name" />
					    </div>
					  </div>
					  <div class="field">
					    <label>LAST NAME</label>
					    <div class="input-wrapper">
					      <i class="fas fa-user"></i>
					      <input type="text" placeholder="Enter last name" />
					    </div>
					  </div>
				</div>

				<!-- Email & Phone -->
				<div class="field-group">
					<div class="field">
					    <label>EMAIL ADDRESS</label>  
					    <div class="input-wrapper">
					      <i class="fas fa-envelope"></i>
					      <input type="email" placeholder="Enter email address" />
					    </div>
					  </div>
					  <div class="field">
					    <label>PHONE NUMBER</label>
					    <div class="input-wrapper">
					      <i class="fas fa-phone"></i>
					      <input type="text" placeholder="Enter phone number" />
					    </div>
			  		</div>
				</div>

				<!-- Username -->
				<div class="field-group">
					<div class="field">
					    <label>USERNAME</label>  
					    <div class="input-wrapper">
					      <i class="fas fa-id-badge"></i>
					      <input type="text" placeholder="Enter username" />
					    </div>
					  </div>
				</div>

				<!-- Passwords -->
				<div class="field-group">
					<div class="field">
					    <label>PASSWORD</label>  
					    <div class="input-wrapper">
					      <i class="fas fa-lock"></i>
					      <input type="password" placeholder="Enter password" />
					    </div>
					  </div>
					  <div class="field">
					    <label>CONFIRM PASSWORD</label>
					    <div class="input-wrapper">
					      <i class="fas fa-lock"></i>
					      <input type="password" placeholder="Confirm password" />
					    </div>
			  		</div>
				</div>

				<hr>

				<!-- Buttons -->
				<div class="btn-group">
					<a th:href="@{/admin/user}" class="btn btn-secondary">
						<i class="fas fa-times"></i> CANCEL
					</a>
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> SAVE
					</button>
				</div>
			</form>			
		</div>
	</main>
</body>
</html>
