<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FuturePath | User</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/user-add.css}" />
<link rel="stylesheet" th:href="@{/css/dropdown.css}" />
</head>
<body>
	<nav th:replace="~{sidebar :: sidebar}"></nav>
	<main>
		<nav th:replace="~{header :: header}"></nav>
		<hr>
		<nav class="sub-header">
			<div>
			 <span class="crumb">FuturePath</span>
			  <i class="fa-solid fa-chevron-right separator"></i>
    	      <span class="crumb">USERS</span>
			  <i class="fa-solid fa-chevron-right separator"></i>
			  <span class="crumb active">ADD</span>
          </div>
		</nav>
		<hr>
		<div class="content">
			<form th:action="@{/admin/user/add}" method="POST" th:object="${userDto}" >
				<!-- First & Last Name -->
				<div class="field-group">
					<div class="field">
					    <label>FIRST NAME</label>  
					    <div class="input-wrapper">
					      <i class="fas fa-user"></i>
					      <input type="text" placeholder="Enter first name" name="firstName"/>
					    </div>
					  </div>
					  <div class="field">
					    <label>LAST NAME</label>
					    <div class="input-wrapper">
					      <i class="fas fa-user"></i>
					      <input type="text" placeholder="Enter last name" name="lastName"/>
					    </div>
					  </div>
				</div>

				<!-- Email & Phone -->
				<div class="field-group">
					<div class="field">
					    <label>EMAIL ADDRESS</label>  
					    <div class="input-wrapper">
					      <i class="fas fa-envelope"></i>
					      <input type="email" placeholder="Enter email address" name="email" />
					    </div>
					  </div>
					  <div class="field">
					    <label>PHONE NUMBER</label>
					    <div class="input-wrapper">
					      <i class="fas fa-phone"></i>
					      <input type="text" placeholder="Enter phone number" name="phone"/>
					    </div>
			  		</div>
				</div>
				
				<div class="field-group">
					<div class="field">
					    <label>GENDER</label>  
					    <div class="input-wrapper">
					      <i class="fas fa-venus-mars"></i>
					      <select name="gender" class="dropdown">
					      	<option>Select Gender...</option>
					      	<option>Male</option>
					      	<option>Female</option>
					      	<option>Other</option>
					      </select>
					    </div>
					  </div>
				</div>
				

				<!-- Username -->
				<div class="field-group">
					<div class="field">
					    <label>USERNAME</label>  
					    <div class="input-wrapper">
					      <i class="fas fa-id-badge"></i>
					      <input type="text" placeholder="Enter username" name="username"/>
					    </div>
					  </div>
				</div>

				<!-- Passwords -->
				<div class="field-group">
					<div class="field">
					    <label>PASSWORD</label>  
					    <div class="input-wrapper">
				        <i class="fas fa-lock"></i>
				      <input type="password" placeholder="Enter password" name="password"/>
				    </div>
				  </div>
		  		</div>

				<hr>

				<!-- Buttons -->
				<div class="btn-group">
					<a th:href="@{/admin/user}" class="btn btn-secondary transitioning">
						<i class="fas fa-times"></i> CANCEL
					</a>
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> SAVE
					</button>
				</div>
			</form>			
		</div>
		<nav class="footer">
			<div>
				<span>All rights reserved by FuturePath</span>
			</div>
			<div class="terms">
				<span>Terms of Use</span>
				<span>Privacy Policy</span>
				<span>Contact us</span>
			</div>
		</nav>
	</main>
	<script th:src="@{/script/loading.js}"></script>
	<script th:src="@{/script/dropdown.js}"></script>
</body>
</html>
