<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FuturePath | Strand & Degree</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/user-add.css}" />
</head>
<body>
	<nav th:replace="~{sidebar :: sidebar}"></nav>
	<main>
		<nav th:replace="~{header :: header}"></nav>
		<hr>
		<nav class="sub-header">
			STRAND & DEGREE > ADD
		</nav>
		<hr>
		<div class="content">
			<form th:action="@{/admin/strandegrees/add}" method="POST" th:object="${strandegreeDto}">
				
				<!-- Program Name -->
				<div class="field-group">
					<div class="field">
					    <label>NAME</label>  
					    <div class="input-wrapper">
					      <i class="fas fa-graduation-cap"></i>
					      <input type="text" placeholder="Enter program name" name="name"/>
					    </div>
					</div>
				</div>

				<!-- Code & Category -->
				<div class="field-group">
					<div class="field">
					    <label>CODE (Ex. BSIT)</label>  
					    <div class="input-wrapper">
					      <i class="fas fa-code"></i>
					      <input type="text" placeholder="Enter program code" name="code"/>
					    </div>
					</div>
					<div class="field">
					    <label>CATEGORY</label>  
					    <div class="input-wrapper">
					      <i class="fas fa-layer-group"></i>
					      <select name="category">
					      	<option>Select Category...</option>
					      	<option>Strand</option>
					      	<option>Degree</option>
					      </select>
					    </div>
					</div>
				</div>

				<!-- Details -->
				<div class="field-group">
					<div class="field">
					    <label>DETAILS</label>  
					    <div class="input-wrapper">
					      <i class="fas fa-info-circle"></i>
					      <textarea type="text" placeholder="Enter program details" name="details"/></textarea>
					    </div>
					</div>
				</div>
				
				<hr>
				<!-- Buttons -->
				<div class="btn-group">
					<a th:href="@{/admin/strandegrees}" class="btn btn-secondary transitioning">
						<i class="fas fa-times"></i> CANCEL
					</a>
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> SAVE
					</button>
				</div>
			</form>			
		</div>
	</main>
	<script th:src="@{/script/loading.js}"></script>
</body>
</html>
