<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav th:fragment="sidebar" class="sidebar">
		<hr>
		HELLO ADMIN
		<hr>
		<div class="option" >
			<span>MAIN</span>
			<div>
				<a><img th:src="@{/images/graduation.png}"> DASHBOARD</a>
			</div>
		</div>
		<hr>
		<div class="option" >
			<span>UNIVERSITY</span>
			<div>
				<a><img th:src="@{/images/graduation.png}"> UNIVERSITY LIST</a>
			</div>
		</div>
		<hr>
		<div class="option" >
			<span>QUESTION</span>
			<div>
				<a><img th:src="@{/images/graduation.png}"> QUESTION LIST</a>
			</div>
		</div>
		<hr>
		<div class="option" >
			<span>USER</span>
			<div>
				<a><img th:src="@{/images/graduation.png}"> USER LIST</a>
			</div>
		</div>
		<hr>
		<div class="option" >
			<span>HISTORY</span>
			<div>
				<a><img th:src="@{/images/graduation.png}"> HISTORY LIST</a>
			</div>
		</div>
		<hr>
		<div class="option" >
			<span>LOGOUT</span>
			<div>
				<a><img th:src="@{/images/graduation.png}"> LOGOUT</a>
			</div>
		</div>
	</nav>
</body>
</html>