<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Insert title here</title>
   </head>
   <body>
      <nav th:fragment="user-header" class="navbar col-12 navbar-expand ">
         <button class="menu-btn btn btn-link btn-sm" type="button">
         <i class="material-icons">menu</i>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- search starts -->
            <form class="form-inline search mr-auto">
               <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-link btn-sm" type="submit"><i class="material-icons">search</i></button>
            </form>
            <!-- search ends -->
            <!-- large desktop market rates starts -->
            <div class="mx-auto d-none d-xxl-inline">
               <div class="row mx-0">
                  <div class="col-auto pr-0 align-self-center"><i class="material-icons vm">public</i></div>
                  <div class="col-auto">
                     <h5 class="fs15 font-weight-normal mb-0">Market <span class="text-danger mx-1"><i class="material-icons vm">arrow_drop_down</i></span> 254608 $</h5>
                     <p class="fs11"><span>Live</span> <span class="text-danger">-0.1%</span> <span>(2487 $)</span></p>
                  </div>
                  <div class="col-auto border-left-dashed">
                     <h5 class="fs15 font-weight-normal mb-0">Update <span class="text-success mx-1"><i class="material-icons vm">arrow_drop_up</i></span> 254608 $</h5>
                     <p class="fs11"><span>Live</span> <span class="text-success">+0.1%</span> <span>(2487 $)</span></p>
                  </div>
               </div>
            </div>
            <!-- large desktop market rates ends -->
            <!-- icons dropwdowns starts -->
            <ul class="navbar-nav ml-auto">
               <!-- flag dropdown-->
               <li class="nav-item dropdown select-flag">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="flag-icon flag-icon-in"></span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown0">
                     <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-in"></span> <span class="ml-2">India</span></a>
                     <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-us"></span> <span class="ml-2">United States</span></a>
                     <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-za"></span> <span class="ml-2">South Africa</span></a>
                     <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-au"></span> <span class="ml-2">Australia</span></a>
                  </div>
               </li>
               <!-- applicatio quicklinks dropdown-->
               <li class="nav-item dropdown d-none d-sm-flex">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">apps</i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-center no-defaults pt-0 overflow-hidden" aria-labelledby="navbarDropdown2">
                     <div class="position-relative text-center rounded">
                        <div class="background">
                           <img src="../assets/img/background-part.png" alt="">
                        </div>
                        <div class="pt-4 pb-5 text-white">
                           <h5 class="font-weight-normal">Quick Access</h5>
                           <p>Get Quick access to your<br>favorite applications</p>
                           <br>
                        </div>
                     </div>
                     <div class="row mx-0 top-60">
                        <div class="col-12 col-md-11 mx-auto">
                           <div class="row">
                              <div class="col-6">
                                 <div class="card border-0 shadow mb-3">
                                    <div class="card-body text-center">
                                       <i class="avatar avatar-40 material-icons text-template-primary my-3">favorite</i>
                                       <p>Dashboard</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-6">
                                 <div class="card border-0 shadow mb-3">
                                    <div class="card-body text-center">
                                       <i class="avatar avatar-40 material-icons bg-light-warning text-warning my-3">style</i>
                                       <p>Sidebar</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-6">
                                 <div class="card border-0 shadow mb-3">
                                    <div class="card-body text-center">
                                       <i class="avatar avatar-40 material-icons bg-light-danger text-danger my-3">library_books</i>
                                       <p>Pages</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-6">
                                 <div class="card border-0 shadow mb-3">
                                    <div class="card-body text-center">
                                       <i class="avatar avatar-40 material-icons bg-light-success text-success my-3">poll</i>
                                       <p>Charts</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
               <!-- cart dropdown-->
               <li class="nav-item dropdown d-none d-sm-flex">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">local_mall</i>
                  <span class="counter-small bg-danger"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-center no-defaults pt-0 overflow-hidden" aria-labelledby="navbarDropdown3">
                     <div class="position-relative text-center rounded">
                        <div class="background h-150">
                           <img src="../assets/img/background-part.png" alt="">
                        </div>
                        <div class="pt-4 pb-5 text-white">
                           <h5 class="font-weight-normal">Your Cart</h5>
                           <p>Checkout your cart items</p>
                           <br>
                        </div>
                     </div>
                     <div class="row mx-0 top-60 z-2">
                        <div class="col-12 mx-auto">
                           <ul class="list-group list-group-flush bg-white rounded shadow overflow-hidden mb-3">
                              <li class="list-group-item">
                                 <div class="row">
                                    <div class="col-auto pr-0 align-self-center">
                                       <figure class="product-image-small mb-0"><img src="../assets/img/image-4.png" alt="" class="vm"></figure>
                                    </div>
                                    <div class="col">
                                       <a href="#" class="text-dark mb-1 d-block">Computer</a>
                                       <h6 class="text-success font-weight-normal mb-0">$ 120.00</h6>
                                       <a href="#" class="text-danger">Remove</a>
                                    </div>
                                    <div class="col-auto align-self-center">
                                       <input type="text" class="form-control py-0 form-control-sm w-35" placeholder="" value="1">
                                    </div>
                                 </div>
                              </li>
                              <li class="list-group-item">
                                 <div class="row">
                                    <div class="col-auto pr-0 align-self-center">
                                       <figure class="product-image-small mb-0"><img src="../assets/img/image-5.png" alt="" class="vm"></figure>
                                    </div>
                                    <div class="col">
                                       <a href="#" class="text-dark mb-1 d-block">Table Fan</a>
                                       <h6 class="text-success font-weight-normal mb-0">$ 120.00</h6>
                                       <a href="#" class="text-danger">Remove</a>
                                    </div>
                                    <div class="col-auto align-self-center">
                                       <input type="text" class="form-control py-0 form-control-sm w-35" placeholder="" value="1">
                                    </div>
                                 </div>
                              </li>
                              <li class="list-group-item text-center">
                                 <a href="#">+5 more</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="dropdown-item border-top">
                        <div class="row">
                           <div class="col-auto">
                              <span class="avatar avatar-30 material-icons text-template-primary">local_activity</span>
                           </div>
                           <div class="col px-0">
                              <div class="form-group mb-0 float-label active">
                                 <input type="text" class="form-control form-control-sm" required="" placeholder="Coupan Code">
                              </div>
                           </div>
                           <div class="col-auto">
                              <button class="btn btn-primary btn-sm px-0 text-white"><i class="material-icons md-18">arrow_forward</i></button>
                           </div>
                        </div>
                     </div>
                     <div class="dropdown-item border-top">
                        <div class="row ">
                           <div class="col-4">
                              <p class="text-secondary mb-1 small">Sub Total</p>
                              <h6 class="mb-0">$540.00</h6>
                           </div>
                           <div class="col-4 px-0 text-center">
                              <p class="text-secondary mb-1 small">Tax</p>
                              <h6 class="mb-0">$40.00</h6>
                           </div>
                           <div class="col-4 text-right">
                              <p class="text-secondary mb-1 small">Discount</p>
                              <h6 class="mb-0">-$100.00</h6>
                           </div>
                        </div>
                     </div>
                     <div class="dropdown-item border-top text-center">
                        <p class="text-secondary my-1">Net Payable</p>
                        <h3 class="mb-0">$400.00</h3>
                        <a href="#" class="btn btn-primary text-white btn-block mt-3"><span>Checkout</span><i class="material-icons md-18">arrow_forward</i></a>
                     </div>
                  </div>
               </li>
               <!-- task dropdown-->
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">view_day</i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-center no-defaults pt-0 overflow-hidden" aria-labelledby="navbarDropdown5">
                     <div class="position-relative text-center rounded">
                        <div class="background">
                           <img src="../assets/img/background-part.png" alt="">
                        </div>
                        <div class="py-3 text-white">
                           <h5 class="font-weight-normal mb-3">Tasks</h5>
                           <div class="px-3">
                              <ul class="nav nav-pills tab-white nav-fill" id="tasks" role="tablist">
                                 <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Task</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Activity</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Alert</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="tab-content" id="tasksContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                           <div class="scroll-y h-320 d-block">
                              <div class="dropdown-item status-border border-warning">
                                 <div class="row">
                                    <div class="col-auto align-self-center">
                                       <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="checktask1">
                                          <label class="custom-control-label" for="checktask1"></label>
                                       </div>
                                    </div>
                                    <div class="col pl-0">
                                       <p class="mb-0">6:33 | Attend Meeting</p>
                                       <p class="small text-mute">Meeting with team regarding new project live integration.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="dropdown-item status-border border-danger">
                                 <div class="row">
                                    <div class="col-auto align-self-center">
                                       <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="checktask2">
                                          <label class="custom-control-label" for="checktask2"></label>
                                       </div>
                                    </div>
                                    <div class="col pl-0">
                                       <p class="mb-0">7:33 | Drink Water</p>
                                       <p class="small text-mute">Reminder for drinking water is very important.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="dropdown-item status-border border-warning">
                                 <div class="row">
                                    <div class="col-auto align-self-center">
                                       <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="checktask3">
                                          <label class="custom-control-label" for="checktask3"></label>
                                       </div>
                                    </div>
                                    <div class="col pl-0">
                                       <p class="mb-0">8:00 | work for timesheet</p>
                                       <p class="small text-mute">Working for calendar module in timesheet. First entry and secondly for display</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="dropdown-item status-border border-success">
                                 <div class="row">
                                    <div class="col-auto align-self-center">
                                       <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="checktask4">
                                          <label class="custom-control-label" for="checktask4"></label>
                                       </div>
                                    </div>
                                    <div class="col pl-0">
                                       <p class="mb-0">10:45 | Reverse proccess Training</p>
                                       <p class="small text-mute mb-2">Must attend training which is basically the most advisable to setup role and descipline.</p>
                                       <figure class="avatar avatar-20"><img src="../assets/img/user1.png" alt=""></figure>
                                       <figure class="avatar avatar-20"><img src="../assets/img/user2.png" alt=""></figure>
                                       <figure class="avatar avatar-20"><img src="../assets/img/user3.png" alt=""></figure>
                                       <figure class="avatar avatar-20">20+</figure>
                                    </div>
                                 </div>
                              </div>
                              <div class="dropdown-item status-border border-primary">
                                 <div class="row">
                                    <div class="col-auto align-self-center">
                                       <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="checktask5">
                                          <label class="custom-control-label" for="checktask5"></label>
                                       </div>
                                    </div>
                                    <div class="col pl-0">
                                       <p class="mb-0">6:33 | Attend Meeting</p>
                                       <p class="small text-mute">Meeting with team regarding new project live integration.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="dropdown-item border-top">
                              <button class="btn btn-primary text-white btn-block mt-2"><span>Complete</span><i class="material-icons md-18">arrow_forward</i></button>
                           </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                           <div class="scroll-y h-320 d-block">
                              <a class="dropdown-item" href="#">
                                 <div class="row">
                                    <div class="col-auto">
                                       <div class="timeline-circle-wrap">
                                          <div class="timeline-circle border-warning"><span class="bg-warning"></span></div>
                                       </div>
                                    </div>
                                    <div class="col pl-0">
                                       <p class="mb-0">We become world most valauble</p>
                                       <p class="small text-mute">Thank you for all of your support and well wishes</p>
                                    </div>
                                 </div>
                              </a>
                              <a class="dropdown-item" href="#">
                                 <div class="row">
                                    <div class="col-auto">
                                       <div class="timeline-circle-wrap">
                                          <div class="timeline-circle border-danger"><span class="bg-danger"></span></div>
                                       </div>
                                    </div>
                                    <div class="col pl-0">
                                       <p class="mb-0">Team Closer</p>
                                       <p class="small text-mute mb-1">Maxartkiller Team</p>
                                       <figure class="avatar avatar-30"><img src="../assets/img/user1.png" alt=""></figure>
                                       <figure class="avatar avatar-30"><img src="../assets/img/user2.png" alt=""></figure>
                                       <figure class="avatar avatar-30"><img src="../assets/img/user3.png" alt=""></figure>
                                       <figure class="avatar avatar-30"><img src="../assets/img/user4.png" alt=""></figure>
                                    </div>
                                 </div>
                              </a>
                              <a class="dropdown-item" href="#">
                                 <div class="row">
                                    <div class="col-auto">
                                       <div class="timeline-circle-wrap">
                                          <div class="timeline-circle border-success"><span class="bg-success"></span></div>
                                       </div>
                                    </div>
                                    <div class="col pl-0">
                                       <p class="mb-0">Final Amendments are done </p>
                                       <p class="small text-mute">Creative visual hierarchy completed</p>
                                    </div>
                                 </div>
                              </a>
                              <a class="dropdown-item" href="#">
                                 <div class="row">
                                    <div class="col-auto">
                                       <div class="timeline-circle-wrap">
                                          <div class="timeline-circle border-primary"><span class="bg-primary"></span></div>
                                       </div>
                                    </div>
                                    <div class="col pl-0">
                                       <p class="mb-0">Vision deployment done</p>
                                       <p class="small text-mute">UX designer worked upon timline</p>
                                    </div>
                                 </div>
                              </a>
                              <a class="dropdown-item" href="#">
                                 <div class="row">
                                    <div class="col-auto">
                                       <div class="timeline-circle-wrap">
                                          <div class="timeline-circle border-info"><span class="bg-info"></span></div>
                                       </div>
                                    </div>
                                    <div class="col pl-0">
                                       <p class="mb-0">Critical Bug resolved</p>
                                       <p class="small text-mute">Cleared list for bugs and development.</p>
                                    </div>
                                 </div>
                              </a>
                           </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                           <div class="scroll-y h-320 d-block">
                              <a class="dropdown-item border-top new" href="#">
                                 <div class="row">
                                    <div class="col-auto align-self-center">
                                       <i class="material-icons text-template-primary">local_mall</i>
                                    </div>
                                    <div class="col pl-0">
                                       <div class="row mb-1">
                                          <div class="col">
                                             <p class="mb-0">New Order received</p>
                                          </div>
                                          <div class="col-auto pl-0">
                                             <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                          </div>
                                       </div>
                                       <p class="small text-mute">Order from Anand Mhatva recieved for Electronics with 6 quanity.</p>
                                    </div>
                                 </div>
                              </a>
                              <a class="dropdown-item border-top " href="#">
                                 <div class="row">
                                    <div class="col-auto align-self-center">
                                       <i class="material-icons text-template-primary">account_balance_wallet</i>
                                    </div>
                                    <div class="col pl-0">
                                       <div class="row mb-1">
                                          <div class="col">
                                             <p class="mb-0">Balance has benn added</p>
                                          </div>
                                          <div class="col-auto pl-0">
                                             <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                          </div>
                                       </div>
                                       <p class="small text-mute">Order from Anand Mhatva recieved for Electronics with 6 quanity.</p>
                                    </div>
                                 </div>
                              </a>
                              <a class="dropdown-item border-top " href="#">
                                 <div class="row">
                                    <div class="col-auto align-self-center">
                                       <i class="material-icons text-template-primary">account_circle</i>
                                    </div>
                                    <div class="col pl-0">
                                       <div class="row mb-1">
                                          <div class="col">
                                             <p class="mb-0">Friend request received</p>
                                          </div>
                                          <div class="col-auto pl-0">
                                             <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                          </div>
                                       </div>
                                       <p class="small text-mute">New friend request received from Mickey John from Australia</p>
                                    </div>
                                 </div>
                              </a>
                              <a class="dropdown-item border-top" href="#">
                                 <div class="row">
                                    <div class="col-auto align-self-center">
                                       <i class="material-icons text-template-primary">check_circle</i>
                                    </div>
                                    <div class="col pl-0">
                                       <div class="row mb-1">
                                          <div class="col">
                                             <p class="mb-0">Email Updated</p>
                                          </div>
                                          <div class="col-auto pl-0">
                                             <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                          </div>
                                       </div>
                                       <p class="small text-mute">Your email change request has been successfully updated</p>
                                    </div>
                                 </div>
                              </a>
                              <a class="dropdown-item border-top " href="#">
                                 <div class="row">
                                    <div class="col-auto align-self-center">
                                       <i class="material-icons text-template-primary">account_balance_wallet</i>
                                    </div>
                                    <div class="col pl-0">
                                       <div class="row mb-1">
                                          <div class="col">
                                             <p class="mb-0">Balance has benn added</p>
                                          </div>
                                          <div class="col-auto pl-0">
                                             <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                          </div>
                                       </div>
                                       <p class="small text-mute">Order from Anand Mhatva recieved for Electronics with 6 quanity.</p>
                                    </div>
                                 </div>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
               <!-- message dropdown-->
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">email</i>
                  <span class="counter bg-danger">1</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-sm-left dropdown-menu-center no-defaults pt-0 overflow-hidden" aria-labelledby="navbarDropdown5">
                     <div class="position-relative text-center rounded">
                        <div class="background">
                           <img src="../assets/img/background-part.png" alt="">
                        </div>
                        <div class="py-3 text-white">
                           <h5 class="font-weight-normal">Messages</h5>
                           <p>Updates and Status</p>
                        </div>
                     </div>
                     <div class="scroll-y h-320 d-block">
                        <a class="dropdown-item border-top new" href="#">
                           <div class="row">
                              <div class="col-auto align-self-center">
                                 <i class="material-icons text-template-primary">local_mall</i>
                              </div>
                              <div class="col pl-0">
                                 <div class="row mb-1">
                                    <div class="col">
                                       <p class="mb-0">New Order received</p>
                                    </div>
                                    <div class="col-auto pl-0">
                                       <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                    </div>
                                 </div>
                                 <p class="small text-mute">Order from Anand Mhatva recieved for Electronics with 6 quanity.</p>
                              </div>
                           </div>
                        </a>
                        <a class="dropdown-item border-top " href="#">
                           <div class="row">
                              <div class="col-auto align-self-center">
                                 <i class="material-icons text-template-primary">account_balance_wallet</i>
                              </div>
                              <div class="col pl-0">
                                 <div class="row mb-1">
                                    <div class="col">
                                       <p class="mb-0">Balance has benn added</p>
                                    </div>
                                    <div class="col-auto pl-0">
                                       <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                    </div>
                                 </div>
                                 <p class="small text-mute">Order from Anand Mhatva recieved for Electronics with 6 quanity.</p>
                              </div>
                           </div>
                        </a>
                        <a class="dropdown-item border-top " href="#">
                           <div class="row">
                              <div class="col-auto align-self-center">
                                 <i class="material-icons text-template-primary">account_circle</i>
                              </div>
                              <div class="col pl-0">
                                 <div class="row mb-1">
                                    <div class="col">
                                       <p class="mb-0">Friend request received</p>
                                    </div>
                                    <div class="col-auto pl-0">
                                       <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                    </div>
                                 </div>
                                 <p class="small text-mute">New friend request received from Mickey John from Australia</p>
                              </div>
                           </div>
                        </a>
                        <a class="dropdown-item border-top" href="#">
                           <div class="row">
                              <div class="col-auto align-self-center">
                                 <i class="material-icons text-template-primary">check_circle</i>
                              </div>
                              <div class="col pl-0">
                                 <div class="row mb-1">
                                    <div class="col">
                                       <p class="mb-0">Email Updated</p>
                                    </div>
                                    <div class="col-auto pl-0">
                                       <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                    </div>
                                 </div>
                                 <p class="small text-mute">Your email change request has been successfully updated</p>
                              </div>
                           </div>
                        </a>
                        <a class="dropdown-item border-top " href="#">
                           <div class="row">
                              <div class="col-auto align-self-center">
                                 <i class="material-icons text-template-primary">account_balance_wallet</i>
                              </div>
                              <div class="col pl-0">
                                 <div class="row mb-1">
                                    <div class="col">
                                       <p class="mb-0">Balance has benn added</p>
                                    </div>
                                    <div class="col-auto pl-0">
                                       <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                    </div>
                                 </div>
                                 <p class="small text-mute">Order from Anand Mhatva recieved for Electronics with 6 quanity.</p>
                              </div>
                           </div>
                        </a>
                        <a class="dropdown-item border-top " href="#">
                           <div class="row">
                              <div class="col-auto align-self-center">
                                 <i class="material-icons text-template-primary">account_circle</i>
                              </div>
                              <div class="col pl-0">
                                 <div class="row mb-1">
                                    <div class="col">
                                       <p class="mb-0">Friend request received</p>
                                    </div>
                                    <div class="col-auto pl-0">
                                       <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                    </div>
                                 </div>
                                 <p class="small text-mute">New friend request received from Mickey John from Australia</p>
                              </div>
                           </div>
                        </a>
                        <a class="dropdown-item border-top" href="#">
                           <div class="row">
                              <div class="col-auto align-self-center">
                                 <i class="material-icons text-template-primary">check_circle</i>
                              </div>
                              <div class="col pl-0">
                                 <div class="row mb-1">
                                    <div class="col">
                                       <p class="mb-0">Email Updated</p>
                                    </div>
                                    <div class="col-auto pl-0">
                                       <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                    </div>
                                 </div>
                                 <p class="small text-mute">Your email change request has been successfully updated</p>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
               </li>
               <!-- profile dropdown-->
               <li class="nav-item dropdown ml-0 ml-sm-4">
                  <a class="nav-link dropdown-toggle profile-link" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <figure class="rounded avatar avatar-30">
                        <img src="../assets/img/user1.png" alt="">
                     </figure>
                     <div class="username-text ml-2 mr-2 d-none d-lg-inline-block">
                        <h6 class="username"><span>Welcome,</span>Maxartkiller</h6>
                     </div>
                     <figure class="rounded avatar avatar-30 d-none d-md-inline-block">
                        <i class="material-icons">expand_more</i>
                     </figure>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right w-300 pt-0 overflow-hidden" aria-labelledby="navbarDropdown6">
                     <div class="position-relative text-center rounded py-5">
                        <div class="background">
                           <img src="../assets/img/background-part.png" alt="">
                        </div>
                     </div>
                     <div class="text-center mb-3 top-60 z-2">
                        <figure class="avatar avatar-120 mx-auto shadow"><img src="../assets/img/user1.png" alt=""></figure>
                     </div>
                     <h5 class="text-center mb-0">Maxartkiller</h5>
                     <p class="text-center">UX Designer</p>
                     <p class="text-center text-secondary fs13">Delhi, India</p>
                     <a class="dropdown-item border-top" href="#">
                        <div class="row">
                           <div class="col-auto align-self-center">
                              <i class="material-icons text-success">account_box</i>
                           </div>
                           <div class="col pl-0">
                              <p class="mb-0">My Profile</p>
                              <p class="small text-mute text-trucated">Update details and information</p>
                           </div>
                           <div class="col-auto align-self-center text-right pl-0">
                              <i class="material-icons text-mute small">chevron_right</i>
                           </div>
                        </div>
                     </a>
                     <a class="dropdown-item border-top" href="#">
                        <div class="row">
                           <div class="col-auto align-self-center">
                              <i class="material-icons text-info">account_balance_wallet</i>
                           </div>
                           <div class="col pl-0">
                              <p class="mb-0">My Wallet</p>
                              <p class="small text-mute text-trucated">Add Money or withdrow</p>
                           </div>
                           <div class="col-auto align-self-center text-right pl-0">
                              <i class="material-icons text-mute small">chevron_right</i>
                           </div>
                        </div>
                     </a>
                     <a class="dropdown-item border-top" href="#">
                        <div class="row">
                           <div class="col-auto align-self-center">
                              <i class="material-icons text-warning">date_range</i>
                           </div>
                           <div class="col pl-0">
                              <p class="mb-0">My Schedule</p>
                              <p class="small text-mute text-trucated">Appointments and schedules</p>
                           </div>
                           <div class="col-auto align-self-center text-right pl-0">
                              <i class="material-icons text-mute small">chevron_right</i>
                           </div>
                        </div>
                     </a>
                     <a class="dropdown-item border-top" href="#">
                        <div class="row">
                           <div class="col-auto align-self-center">
                              <i class="material-icons text-danger">exit_to_app</i>
                           </div>
                           <div class="col pl-0">
                              <p class="mb-0 text-danger">Logout</p>
                           </div>
                           <div class="col-auto align-self-center text-right pl-0">
                              <i class="material-icons text-mute small text-danger">chevron_right</i>
                           </div>
                        </div>
                     </a>
                  </div>
               </li>
            </ul>
            <!-- icons dropwdowns starts -->
         </div>
      </nav>
   </body>
</html>