
.dropdown-select {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #f1f5f9;
  font-size: 0.9rem;
  height: 2rem;
}
.dropdown{
	width: -webkit-fill-available;
	
}

.dropdown-menu-inner{
	max-height: 16rem;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #000;
}

.dropdown-menu{
	position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: -webkit-fill-available;
    z-index: 10;
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
    background: #fff;
    padding: 0.3rem;
}

.dropdown-menu-item{
	color: #000 !important;
	padding: 0.3rem;
}

.dropdown-menu-item:hover{
	color: #fff;
    background-color: hsl(217, 91%, 60%);
}

.dropdown-menu-inner::-webkit-scrollbar {
   width: 5px;
   height: auto;
}

.dropdown-menu-inner::-webkit-scrollbar-thumb {
   border-radius: 0.25rem;
   background-color: var(--color-greys);
   box-shadow: var(--shadow-small);
}

.dropdown-menu-search{
	color: #000 !important;
	width: -webkit-fill-available;
}

.dropdown-select{
	width: 100%;
	height: 2rem;
	font-size: 0.9rem;
	display: flex;
	align-items: center;
}