.content{
	margin: auto;
}

.form{
	background: #2D3D88;
	padding: 3rem 3rem;
	box-sizing: border-box;
	margin-bottom: 3rem;
}

.field-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.field {
  flex: 1;
  min-width: 250px;
}

.field label {
  display: block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: #cbd5e1;
}

/* Input + Icons */
.input-wrapper {
  display: flex;
  align-items: center;
  background: #1e2761;
  border: 1px solid #37418e;
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  position: relative;
}

.input-wrapper i {
  color: #9bb0f9;
  font-size: 0.9rem;
}

.input-wrapper input,
.input-wrapper select,
.input-wrapper textarea {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #f1f5f9;
  font-size: 0.9rem;
  height: 2rem;
}

.input-wrapper textarea{
	height: 5rem;
}

.input-wrapper input:-webkit-autofill {
  background: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset; /* removes yellow bg */
  -webkit-text-fill-color: white; /* set text color */
  transition: background-color 5000s ease-in-out 0s; /* prevents flashing */
}

.input-wrapper select option{
	color: #000;
}

.input-wrapper input::placeholder {
  color: #94a3b8;
}

.details-wrapper{
	min-height: 2rem;
}

.details-wrapper.textarea{
	min-height: 5rem;
}


/* Buttons */
.btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.button, .save-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.back-btn {
  background: #37418e;
  color: #9bb0f9;
}

.back-btn:hover {
  background: #4a56a8;
}

.save-btn {
  background: #9bb0f9;
  color: #1C2656;
  border: none;
}

.save-btn:hover {
  background: #7f96f2;
}

.evaluation-section {
  margin-top: 2rem;
  color: #cbd5e1;
  font-size: 0.8rem;
}

.evaluation-section h4 {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  color: #f1f5f9;
}

.evaluation-table {
  width: 100%;
  border-collapse: collapse;
  background: #2D3D88;
  color: #f1f5f9;
}

.evaluation-table th,
.evaluation-table td {
  border: 1px solid #37418e;
  padding: 0.75rem;
  text-align: left;
  font-size: 0.8rem;
}

.evaluation-table td label {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem; 
  cursor: pointer;
}


.evaluation-table th {
  background: #1e2761;
  font-weight: 600;
}

.evaluation-table input[type="radio"] {
  margin: 0 6px 0 0;
  accent-color: #9bb0f9;
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
}


